.successMsg {
  color: green;
  font-size: small;
}

.errorMsg {
  color: red;
  font-size: small;
}

.waitMsg {
  color: orange;
  font-style: italic;
  margin-bottom: 15px;
}

.playerList {
  margin: 15px;
}